
@{
    ViewBag.Title = "Gallery";
}

<section class="wrapper">
    <!-- gallery -->
    <!-- gallery -->
    <div class="gallery">
        <h2 class="w3ls_head">Gallery</h2>
        <div class="gallery-grids">
            <div class="gallery-top-grids">
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/Images/g1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g1.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g2.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g3.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="gallery-top-grids">
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g5.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g6.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g7.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="gallery-top-grids">
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g8.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g8.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g9.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g9.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 gallery-grids-left">
                    <div class="gallery-grid">
                        <a class="example-image-link" href="~/images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                            <img src="~/images/g4.jpg" alt="" />
                            <div class="captn">
                                <h4>Visitors</h4>
                                <p>Aliquam non</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <script src="js/lightbox-plus-jquery.min.js"></script>

        </div>
    </div>
    <!-- //gallery -->

</section>
